{% extends "blnk_main/base.html" %} {% load crispy_forms_tags %} 
{% block content %}

<article class="media content-section">
  <div class="media-body">
    <div class="article-metadata">
      <h2 class="mr-2">Duration: {{ loan.duration }} Months</h2>
      <p class="text-muted">
        Min: {{ loan.min_val }} EGP - Max: {{ loan.max_val }} EGP
      </p>
    </div>
    <p class="article-content">Interest: {{ loan.interest_rate }}%</p>
    <a
      class="btn btn-outline-danger"
      href="{% url 'blnk_main:index' %}"
      role="button"
      >Choose another loan</a
    >
  </div>
</article>

<div class="content-section">
  <form method="POST" action="">
    {% csrf_token %}
    <fieldset class="form-group">
      <legend class="border-bottom mb-4">Fill Application</legend>
      {{ form|crispy }}
    </fieldset>
    <div class="form-group">
      <button class="btn btn-outline-success mt-4" type="submit">Apply</button>
    </div>
  </form>
</div>

{% endblock content%}
