{% extends "blnk_main/base.html" %} {% block content %} {% for app in apps %}

<article class="media content-section">
  <div class="media-body">
    <div class="article-metadata">
      <h2 class="mr-2">Duration: {{ app.loan.duration }} Months</h2>
      <p class="text-muted">
        Min: {{ app.loan.min_val }} EGP - Max: {{ app.loan.max_val }} EGP
      </p>
    </div>
    <p><b>Interest:</b> {{ app.loan.interest_rate }}%</p>
    <p><b>Amount:</b> {{ app.amount }} EGP</p>
    <p>
      <b>Application Type:</b>
      {{ app.app_type }}
    </p>
    <p>
      <b>Customer Name:</b>
      {{ app.user.first_name }} {{ app.user.last_name }}
    </p>
    <p>
      <b>Company:</b>
      {{ app.user.customer.company_name }}
    </p>
    <p>
      <b>Salary:</b>
      {{ app.user.customer.salary }} EGP
    </p>
    <a
      href="{% url 'bank_system:registerLoan' app.id %}"
      type="button"
      class="btn btn-outline-success"
      >Approve</a
    >
    <!-- <a type="button" class="btn btn-outline-danger">Decline</a> -->

    <!-- Button trigger modal -->
    <button
      type="button"
      class="btn btn-outline-danger"
      data-bs-toggle="modal"
      data-bs-target="#exampleModal"
    >
      Decline
    </button>

    <!-- Modal -->
    <div
      class="modal fade"
      id="exampleModal"
      tabindex="-1"
      aria-labelledby="exampleModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Attention!</h5>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body">
            Are you sure you want decline this loan? it will be
            <b>permanently deleted.</b>
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              data-bs-dismiss="modal"
            >
              Cancel
            </button>
            <a
              href="{% url 'bank_system:declineLoan' app.id %}"
              type="button"
              class="btn btn-outline-danger"
              >Decline Loan</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</article>

{% endfor %} {% endblock content%}
