{% extends "blnk_main/base.html" %} {% block content %}

<article class="media content-section">
  <div class="media-body">
    <div class="article-metadata">
      <h2 class="mr-2">Duration: {{ loan.duration }} Months</h2>
      <p class="text-muted">
        Min: {{ loan.min_val }} EGP - Max: {{ loan.max_val }} EGP
      </p>
    </div>
    <p class="article-content">Interest: {{ loan.interest_rate }}%</p>
    <p class="article-content">Amount: {{ app.amount }} EGP</p>
    {% if status is True %}
    <div class="alert alert-success">Approved - {{ app.bank }} Bank</div>
    {% else %}
    <div class="alert alert-warning">Pending Approval</div>
    {% endif %}
  </div>
</article>

{% endblock content%}
